<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custom.nfcfix"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="29" />

    <application
        android:label="NFC Fix for MIUI14"
        android:allowBackup="false">

        <!-- Xposed module meta-data -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Fixes NFC settings crash (NPE in MiuiNfcPayPreferenceController) on POCO F5 marble MIUI14 Global. By souleastforest." />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
